.page {
  padding: 100px 0;
  color: var(--accent-clr);
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-clr);
  background-image: var(--gradient-left-to-right), var(--gradient-top-to-bottom),
    var(--gradient-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight), 'wdth' 100, 'opsz' 0;
}

.content-section {
  margin: 0 auto;
  max-inline-size: 700px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 97px;
  border: 2px solid var(--accent-clr);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--background-clr);
  transition: background-color var(--transform-time);
  transition-timing-function: var(--transition-function);
}

.header__title {
  margin: clamp(7rem, 6.3318rem + 4.9844vw, 8rem) 0 130px;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  text-align: center;
}

.header__title-accent {
  display: block;
  margin: 0 0 20px;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: var(--border-width) solid var(--accent-clr);
  background-color: var(--background-clr);
}

.card__header {
  border-bottom: var(--border-width) solid var(--accent-clr);
  padding: 5px 10px 5px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font-bold-weight), 'wdth' 100,
    'opsz' 0;
}

.card__image-container {
  position: relative;
  border-bottom: var(--border-width) solid var(--accent-clr);
}

.card__image-text {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  color: var(--accent-clr);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 1px 0 0 var(--background-clr), 1px 0 0 var(--background-clr),
    0 1px 0 var(--background-clr), 0 1px 0 var(--background-clr),
    -1px 0 0 var(--background-clr), -1px 0 0 var(--background-clr),
    0 -1px 0 var(--background-clr), 0 -1px 0 var(--background-clr);
  mix-blend-mode: hard-light;
  inset-inline-end: 25px;
  inset-block-start: 24px;
}

@supports ((text-stroke: 1px var(--background-clr)) or (-webkit-text-stroke: 1px var(--background-clr))) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-clr);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 24px 25px 25.9px;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--main-font-weight), 'wdth' 100, 'opsz' 0;
}

.card__buttons {
  display: flex;
  gap: 4px;
  align-self: flex-end;
}

.card__icon-button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  padding: 1px 2px 0;
  outline: var(--border-width) solid transparent;
  outline-offset: var(--border-width);
  background-color: transparent;
  transition: outline var(--transform-time);
  transition-timing-function: var(--transition-function);
  cursor: pointer;
  inline-size: 43px;

  .like-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

    .core {
      fill: var(--core-clr-transparent);
      transition: fill 0.3s 0.03s linear;
    }

    .main-body {
      fill: var(--main-body-clr-transparent);
      transition: fill 0.3s linear;
    }

    .contour {
      fill: var(--contour-clr);
      transition: fill 0.1s linear;
    }

    .sparks {
      fill: var(--sparks-fill-clr-transparent);
    }
  }

  .like-icon.is-liked {
    animation: icon-scaling 0.3s 0.1s ease-in reverse;

    .core {
      fill: var(--core-active-clr);
    }

    .main-body {
      fill: var(--main-body-active-clr);
    }

    .contour {
      fill: var(--contour-active-clr);
    }

    .sparks {
      animation: sparks-coloring 0.3s 0.3s ease-in reverse;
    }
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--border-width) solid var(--accent-clr);
}

.card__icon-button:hover {
  .like-icon {
    .core {
      fill: var(--core-clr);
      transition: fill 0.3s linear;
    }

    .main-body {
      fill: var(--main-body-clr);
      transition: fill 0.3s 0.05s linear;
    }
  }
}

.card__icon-button:active {
  .like-icon {
    .core {
      fill: var(--core-active-clr);
      transition: fill 0.3s linear;
    }

    .main-body {
      fill: var(--main-body-active-clr);
      transition: fill 0.3s 0.05s linear;
    }
  }
}

.card__like-button {
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  cursor: pointer;
  inline-size: 130px;
}

.standard-button {
  position: relative;
  border: var(--border-width) solid var(--accent-clr);
  transition: box-shadow var(--transform-time);
  transition-timing-function: var(--transition-function);
}

.standard-button:focus {
  outline: none;
}

.standard-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-clr);
}

.standard-button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-clr);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.standard-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  color: var(--btn-text-clr);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.footer {
  margin: 50px auto 0;
  background-color: var(--background-clr);
  max-inline-size: 335px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
}

.footer__button:focus {
  outline: none;
}

.footer__button-image {
  position: relative;
  z-index: 2;
  width: 21px;
  height: 21px;
  margin: 0 0 0 18px;
  color: var(--btn-text-clr);
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  border: var(--border-width) solid var(--accent-clr);
  padding: 32px 42px;
  color: var(--accent-clr);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--background-clr);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 353px;
}

.dialog__form {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr fit-content;
  row-gap: 30px;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__button {
  grid-column: 1 / 3;
  grid-row: 2;
  padding: 9px 0;
  text-transform: uppercase;
  background-color: var(--background-clr);
}

.dialog__image {
  align-self: center;
  width: 39px;
  height: 39px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.filter__bright {
  filter: brightness(220%);
}

.filter__gray {
  filter: grayscale(1);
}

.filter__sepia {
  filter: sepia(100%);
}

.filter__invert {
  filter: invert(0.7);
}

.filter__saturate {
  filter: saturate(300%);
}

.filter__blur {
  filter: blur(5px);
}

.filter__multiple {
  filter: saturate(500%) brightness(90%) invert(0.9);
}

.filter__gray-bright {
  filter: brightness(80%) grayscale(0.8);
}

@media (width <=375px) {
  .header {
    margin-bottom: 100px;
    outline: none;
  }

  .header__title {
    margin-bottom: 120px;
  }

  .card__buttons {
    margin-top: 2px;
  }

  .footer {
    margin: 51px 34px 0;
  }

  .footer__button {
    flex-direction: column;
  }

  .footer__button-image {
    width: 28px;
    height: 28px;
    margin: 0;
  }
}